{% extends 'BackBundle::base.html.twig' %}

{% block body %}
    <div class="wrapper kode-header-class-3">
        <!--BANNER START-->
        <div class="kode-banner">
            <img src="{{ asset("assets/front/images/banner.png") }}" alt="">
        </div>
    </div>
<p>
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock %}
