{% extends 'FrontBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
        <div class="reset-page">
              <div class="form-reset">
                    <p>
                        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                    </p>
              </div>
        </div>
{% endblock %}
