{% extends 'FrontBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
<div class="login-page">
    <div class="form">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div class="kode-navigation">
                    <ul>
                        <li>
                            <label for="username">{{ 'resetting.request.username'|trans }}</label>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <input type="text" id="username" name="username"  placeholder="Your email" required="required" />
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
