{% extends 'FrontBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body%}
    <section class="kode-membership">
        <div class="container">
            <div class="kode-navigation">
                <ul>
                    <li>
                        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                    </li>
                </ul>
                <ul>
                    <li>
                        {{ form_widget(form) }}
                    </li>
                </ul>
                <div>
                    <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>

{% endblock %}