
<footer class="footer-2">
    <div class="container">
        <div class="lib-copyrights">
            <p>Copyrights © 2015-16 KodeForest. All rights reserved</p>
            <div class="social-icon">
                <ul>
                    <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="back-to-top">
            <a href="#home"><i class="fa fa-angle-up"></i></a>
        </div>
    </div>
</footer>