
<header class="header-3">
    <div class="container">
        <div class="logo-container">
            <div class="row">
                <div class="col-md-3">
                    <!--LOGO START-->
                    <div class="logo">
                        <a href="#"><img src="{{ asset('assets/front/images/logo-2.png') }}" alt=""></a>
                    </div>
                    <!--LOGO END-->
                </div>
                <div class="col-md-9">
                    <div class="top-strip">
                        <div class="pull-left">
                            <p>Welcome to Library theme</p>
                        </div>
                        <div class="social-icon">
                            <a href="mailto:info@library-theme.com" class="pull-left">info@library-theme.com</a>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="kode-navigation">
                        <ul>
                            <li><a href="#">Home</a>
                                <ul>
                                    <li><a href="#">Home page 1</a></li>
                                </ul>
                            </li>

                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="books.html">Our Books</a>
                                <ul>
                                    <li><a href="books3-sidebar.html">Book With Sidebar</a></li>
                                    <li><a href="books-detail.html">Book Detail</a></li>
                                </ul>
                            </li>
                            <li class="last"><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>