
<!--BUT NOW START-->
<div class="search-section">
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#Basic" role="tab" data-toggle="tab">Basic</a></li>
            <li role="presentation" class="active"><a href="#Author" role="tab" data-toggle="tab">Author</a></li>
            <li role="presentation"><a href="#Publications" role="tab" data-toggle="tab">Publications</a></li>
        </ul>

        {{ form(form) }}
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Basic">
                <div class="form-container">

                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <input type="text" placeholder="First Name">
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <input type="text" placeholder="Middle Name">
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <input type="text" placeholder="Last Name">
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <button>Search Author</button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Author">
                <div class="form-container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <input type="text" placeholder="First Name">
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <input type="text" placeholder="Middle Name">
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <input type="text" placeholder="Last Name">
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <button>Search Author</button>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Publications">
                <div class="form-container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <input type="text" placeholder="First Name">
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <input type="text" placeholder="Middle Name">
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <input type="text" placeholder="Last Name">
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <button>Search Author</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--BUT NOW END-->