{% extends 'FrontBundle::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div row>
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-success" role="alert">
                <p>
                    <strong>{{ 'registration.confirmed'| trans({'%username%': user.username}) }}</strong>
                     Now you can access to your profile .
                </p>
            </div>
            {#{% if targetUrl %}#}
            <div class="col-md-2 col-md-offset-5">
            <p><a class="btn btn-primary btn-lg" role="button" href="{{ path('fos_user_profile_show') }}">Your Profile{# {{ 'registration.back'|trans }} #}</a></p>
            </div>
            {#{% endif %}#}
        </div>
    </div>
{% endblock %}
