{%  extends "FrontBundle::base.html.twig" %}

{% block body %}

    <section>
        <div class="container">
            <!--SECTION CONTENT START-->
            <div class="section-heading-1">
                <h2>Welcome to Gutenbook</h2>
                <p>Welcome to the Most Popular Online Library</p>
                <div class="kode-icon"><i class="fa fa-book"></i></div>
            </div>

            <!--SECTION CONTENT END-->
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="kode-service-3">
                        <i class="fa fa-gift"></i>
                        <h3><a href="#">Ebooks</a></h3>
                        <p>An electronic version of a printed book that can be read on all platforms.</p>
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="kode-service-3">
                        <i class="fa fa-book"></i>
                        <h3><a href="#">Recent books</a></h3>
                        <p>Our libraries include some of the most recents and trendy books, even current top sellers.</p>
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="kode-service-3">
                        <i class="fa fa-clone"></i>
                        <h3><a href="#">Formats</a></h3>
                        <p>All our ebooks are available under different formats, such as pdf, epub, and even for chromecast.</p>
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="kode-service-3">
                        <i class="fa fa-calculator"></i>
                        <h3><a href="#">Mobile friendly</a></h3>
                        <p>The whole website is responsive, and offer a specific and unique user experience for mobile users.</p>
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="lib-count-up-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="count-up">
                        <span class="counter circle">118</span>
                        <p>Registered users</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="count-up">
                        <span class="counter circle">7</span>
                        <p>Book formats</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="count-up">
                        <span class="counter circle">18</span>
                        <p>Top Authors</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="count-up">
                        <span class="counter circle">96</span>
                        <p>Books Published</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="kode-newsletters-2">
        <div class="container">
            <!--SECTION CONTENT START-->
            <div class="section-heading-1">
                <h2>Subscribe to our Newsletter</h2>
                <p>Subscribe here with your email and stay up to date.</p>
                <div class="kode-icon"><i class="fa fa-book"></i></div>
            </div>
            <!--SECTION CONTENT END-->
            <div class="newsletters-container">
                <div class="row">
                    <div class="col-md-9 col-sm-8">
                        <div class="input-container">
                            <i class="fa fa-envelope-o"></i>
                            <input type="text" placeholder="Subscribe here">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <button>Subscribe<i class="fa fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}