{% extends 'FrontBundle::base.html.twig' %}

{% block body %}

    <table class="table">

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Edit/Delete</th>
        </tr>


        {% for theme in themes %}
            <tr>
                <td>{{ theme.id }}</td>
                <td>{{ theme.name }}</td>
                <td><a href="{{ path('theme_edit', { 'id': theme.id }) }}">Edit</a> /<a
                            href="{{ path('theme_delete', { 'id': theme.id }) }}">Delete</a></td>
            </tr>

        {% endfor %}
    </table>
    <script type="javascript">
        $(document).ready(function(){
            $('.table').DataTable();
        });</script>
{% endblock %}