{% extends 'FrontBundle::base.html.twig' %}

{% block body %}

    <table class="table">

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Edit/Delete</th>
        </tr>

        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a> /
                    <a href="{{ path('category_delete', { 'id': category.id }) }}">Delete</a>
                </td>
            </tr>

        {% endfor %}

    </table>

{% endblock %}